flow
[{"id":"1cfe5704.a3f239","type":"comment","z":"f66a9ded.94a6c","name":"Tests  sony","info":"","x":120,"y":40,"wires":[]},{"id":"d3df86ec.ebe7","type":"switch","z":"f66a9ded.94a6c","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":930,"y":80,"wires":[["a10b2cd2.5ec6b8"],["4c562938.d6cd7"]]},{"id":"f4a6cf44.201f88","type":"inject","z":"f66a9ded.94a6c","name":"check every 2s","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":150,"y":80,"wires":[["46536f2e.78f648"]]},{"id":"fe5d8b90.d0e058","type":"function","z":"f66a9ded.94a6c","name":"show powerstatus","func":"if (msg.payload.status == \"standby\"){\n    msg.payload = false;\n}\nif (msg.payload.status == \"active\"){\n    msg.payload = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["4b1fab03.8b3bb4","d92dc7db.349d38"]]},{"id":"d92dc7db.349d38","type":"function","z":"f66a9ded.94a6c","name":"ifON,checkVOL","func":"if (msg.payload === true) {\n    return [ msg, null, null ];\n} else if (msg.payload === false) {\n    msg.payload = 0;\n    return [ null, msg, null ];\n} else {\n    return [null, null, msg];\n}\n","outputs":"3","noerr":0,"x":140,"y":200,"wires":[["44302e81.298d88"],["9214a959.aa985"],[]]},{"id":"9214a959.aa985","type":"function","z":"f66a9ded.94a6c","name":"GetVolumeNbr","func":"if (msg.payload ===0){\n    return msg;\n} else{\n    var mute = {};\n    mute.payload  = msg.payload[0].mute;\n    msg.payload = msg.payload[0].volume;\n    return [msg,mute];\n}\n","outputs":"2","noerr":0,"x":560,"y":200,"wires":[["8af4e019.4c0ea8"],["4587154b.66f0f4"]]},{"id":"a10b2cd2.5ec6b8","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"PowerOff","name":"PowerOff","x":1240,"y":60,"wires":[]},{"id":"4c562938.d6cd7","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"TvPower","name":"PowerOn","x":1240,"y":100,"wires":[]},{"id":"8c95d4f.70e9128","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Mute","name":"Mute","x":1110,"y":200,"wires":[]},{"id":"b3796ea8.de3ec8","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"VolumeDown","name":"Volume Down","x":1140,"y":240,"wires":[]},{"id":"7554e5cc.298ffc","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"VolumeUp","name":"Volume Up","x":1130,"y":280,"wires":[]},{"id":"b3f2da0a.ed9888","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num1","name":"Num1","x":1110,"y":320,"wires":[]},{"id":"3b9c6376.bb9b9c","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num2","name":"Num2","x":1210,"y":340,"wires":[]},{"id":"a2e37366.7b1a68","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num3","name":"Num3","x":1310,"y":360,"wires":[]},{"id":"a89c8655.05f96","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num4","name":"Num4","x":1110,"y":380,"wires":[]},{"id":"935dceb7.dc411","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num5","name":"Num5","x":1210,"y":400,"wires":[]},{"id":"16f527f7.4f41a","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num6","name":"Num6","x":1310,"y":420,"wires":[]},{"id":"55496bf0.d5fa8c","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num7","name":"Num7","x":1110,"y":440,"wires":[]},{"id":"d64a353f.cb3e28","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num8","name":"Num8","x":1210,"y":460,"wires":[]},{"id":"3c250116.982f86","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num9","name":"Num9","x":1310,"y":480,"wires":[]},{"id":"bedec0ac.faed38","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"ChannelDown","name":"CH-","x":1110,"y":500,"wires":[]},{"id":"2a22adc5.b4b2da","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Num0","name":"Num0","x":1210,"y":520,"wires":[]},{"id":"c1d4f80c.8d8fc","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"ChannelUp","name":"CH+","x":1310,"y":540,"wires":[]},{"id":"46536f2e.78f648","type":"bravia-api","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","method":"system:1.0:getPowerStatus","payload":"","name":"PowerStatus","x":350,"y":80,"wires":[["fe5d8b90.d0e058"]]},{"id":"44302e81.298d88","type":"bravia-api","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","method":"audio:1.0:getVolumeInformation","payload":"","name":"GetVolumeInfo","x":360,"y":180,"wires":[["9214a959.aa985"]]},{"id":"a0e726c3.660fa","type":"ui_button","z":"f66a9ded.94a6c","name":"VolumeDown","group":"41f0447c.9f14cc","order":3,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-volume-down","payload":"","payloadType":"str","topic":"","x":810,"y":240,"wires":[["b3796ea8.de3ec8"]]},{"id":"97530ce9.936d8","type":"ui_button","z":"f66a9ded.94a6c","name":"VolumeUp","group":"41f0447c.9f14cc","order":5,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-volume-up","payload":"","payloadType":"str","topic":"","x":800,"y":280,"wires":[["7554e5cc.298ffc"]]},{"id":"68ac1730.cf8ea8","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":6,"width":"2","height":"1","passthru":true,"label":"1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":790,"y":320,"wires":[["b3f2da0a.ed9888"]]},{"id":"10b9af3.4c941d1","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":7,"width":"2","height":"1","passthru":true,"label":"2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":890,"y":340,"wires":[["3b9c6376.bb9b9c"]]},{"id":"3219fef3.d78ca2","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":8,"width":"2","height":"1","passthru":true,"label":"3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":990,"y":360,"wires":[["a2e37366.7b1a68"]]},{"id":"ab1162b5.fd806","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":9,"width":"2","height":"1","passthru":true,"label":"4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":790,"y":380,"wires":[["a89c8655.05f96"]]},{"id":"f4334cc4.083b18","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":10,"width":"2","height":"1","passthru":true,"label":"5","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":890,"y":400,"wires":[["935dceb7.dc411"]]},{"id":"141d6ea2.607901","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":11,"width":"2","height":"1","passthru":true,"label":"6","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":990,"y":420,"wires":[["16f527f7.4f41a"]]},{"id":"9ae487bb.4724d","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":12,"width":"2","height":"1","passthru":true,"label":"7","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":790,"y":440,"wires":[["55496bf0.d5fa8c"]]},{"id":"b70915c6.61ba98","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":13,"width":"2","height":"1","passthru":true,"label":"8","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":890,"y":460,"wires":[["d64a353f.cb3e28"]]},{"id":"cf260c16.8e25d","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":14,"width":"2","height":"1","passthru":true,"label":"9","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":990,"y":480,"wires":[["3c250116.982f86"]]},{"id":"27fb9e5c.96bd0a","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":15,"width":"2","height":"1","passthru":false,"label":"CH-","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":790,"y":500,"wires":[["bedec0ac.faed38"]]},{"id":"baacb346.f2da7","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":16,"width":"2","height":"1","passthru":true,"label":"0","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":890,"y":520,"wires":[["2a22adc5.b4b2da"]]},{"id":"e0206863.e36f2","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":17,"width":"2","height":"1","passthru":false,"label":"CH+","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":990,"y":540,"wires":[["c1d4f80c.8d8fc"]]},{"id":"4b1fab03.8b3bb4","type":"ui_switch","z":"f66a9ded.94a6c","name":"","label":"Power","group":"41f0447c.9f14cc","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":80,"wires":[["d3df86ec.ebe7"]]},{"id":"4587154b.66f0f4","type":"ui_switch","z":"f66a9ded.94a6c","name":"Mute","label":"Mute","group":"41f0447c.9f14cc","order":2,"width":"2","height":"1","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":790,"y":200,"wires":[["8c95d4f.70e9128"]]},{"id":"8af4e019.4c0ea8","type":"ui_text","z":"f66a9ded.94a6c","group":"41f0447c.9f14cc","order":4,"width":"2","height":"1","name":"","label":"Vol :","format":"{{msg.payload}}","layout":"row-center","x":790,"y":160,"wires":[]},{"id":"8b8d5c40.451678","type":"switch","z":"f66a9ded.94a6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"voldwn","vt":"str"},{"t":"eq","v":"volup","vt":"str"},{"t":"eq","v":"num1","vt":"str"},{"t":"eq","v":"num2","vt":"str"},{"t":"eq","v":"num3","vt":"str"},{"t":"eq","v":"num4","vt":"str"},{"t":"eq","v":"num5","vt":"str"},{"t":"eq","v":"num6","vt":"str"},{"t":"eq","v":"num7","vt":"str"},{"t":"eq","v":"num8","vt":"str"},{"t":"eq","v":"num9","vt":"str"},{"t":"eq","v":"num0","vt":"str"},{"t":"eq","v":"picoff","vt":"str"}],"checkall":"true","outputs":15,"x":490,"y":420,"wires":[["a10b2cd2.5ec6b8"],["4c562938.d6cd7"],["b3796ea8.de3ec8"],["7554e5cc.298ffc"],["b3f2da0a.ed9888"],["3b9c6376.bb9b9c"],["a2e37366.7b1a68"],["a89c8655.05f96"],["935dceb7.dc411"],["16f527f7.4f41a"],["55496bf0.d5fa8c"],["d64a353f.cb3e28"],["3c250116.982f86"],["2a22adc5.b4b2da"],["601c3959.0bddc"]]},{"id":"8d3485e0.c875b8","type":"link in","z":"f66a9ded.94a6c","name":"Pilotage vocal","links":["a5ff0013.8bc008"],"x":195,"y":420,"wires":[["82d3d8bd.739838"]]},{"id":"601c3959.0bddc","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"PicOff","name":"PicOff","x":1110,"y":580,"wires":[]},{"id":"e968699c.f32968","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":18,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"","icon":"fa-eye-slash","payload":"","payloadType":"str","topic":"","x":790,"y":580,"wires":[["601c3959.0bddc"]]},{"id":"ab798580.c40a7","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":20,"width":"2","height":"1","passthru":false,"label":"BB-TV","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":890,"y":640,"wires":[["f93ac53f.ab1db8"]]},{"id":"f93ac53f.ab1db8","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Hdmi1","name":"BB-TV","x":1210,"y":640,"wires":[]},{"id":"921c0b7e.241f4","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":21,"width":"2","height":"1","passthru":false,"label":"RPI","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":990,"y":660,"wires":[["7533a126.b5f6b8"]]},{"id":"7533a126.b5f6b8","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"Hdmi4","name":"RPI","x":1310,"y":660,"wires":[]},{"id":"a98b84f6.10e018","type":"bravia-ircc","z":"f66a9ded.94a6c","tv":"59236c79.be56b4","ircc":"TvInput","name":"TV","x":1110,"y":620,"wires":[]},{"id":"c14aac42.1ccbf","type":"ui_button","z":"f66a9ded.94a6c","name":"","group":"41f0447c.9f14cc","order":19,"width":"1","height":"1","passthru":false,"label":"TV","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":790,"y":620,"wires":[["a98b84f6.10e018"]]},{"id":"82d3d8bd.739838","type":"delay","z":"f66a9ded.94a6c","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":330,"y":420,"wires":[["8b8d5c40.451678"]]},{"id":"59236c79.be56b4","type":"bravia-tv","z":0,"name":"SonyTV","host":"192.168.1.14","port":"80","psk":"0000"},{"id":"41f0447c.9f14cc","type":"ui_group","z":"","name":"SonyTV","tab":"953a02ba.073ec","disp":true,"width":"6"},{"id":"953a02ba.073ec","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1}]
